/* Table of contents
- Device Adaptation
- Header
- Title
- Sections
- Navigation
- Footer
- Media Queries for Large Screens
*/

/* Device Adaptation
-------------------------------------------------- */
@viewport{
    zoom: 1.0;
    width: device-width;
}

@viewport{
  zoom: 1.0;
  width: extend-to-zoom;
}

/* Header
based on https://webdesign.tutsplus.com/articles/a-simple-responsive-mobile-first-navigation--webdesign-6074
-------------------------------------------------- */
header {

    text-align: center;
    background: #1c1c1c;
    padding: 1rem 2rem;
    position:  relative;
    height: 6.5rem;
}

        /*shorter clearfix http://nicolasgallagher.com/micro-clearfix-hack/*/
        header:before,
        header:after {
            content:"";
            display:table;
        }

        header:after {
            clear:both;
        }

        /* For IE 6/7 (trigger hasLayout) */
        header {
            zoom:1;
        }

h1.logo a {
    color: #d8d8d8;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.2em;
    position: absolute;
    left: 1.3rem;
    top: 3.1rem;
  }

div.to_nav {
    background: #4e4e4e;
    padding: 8px 12px 5px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    position:  absolute;
    right: 1.3rem;
    top: 1.3rem;
}

div.to_nav:hover,
div.to_nav:focus {
    color: #1c1c1c;
    background: #ccc;
}

div.to_nav > a {
  display:inline-block;
  width:100%;
  height:100%;
  color: #fff;
}

/* Title
-------------------------------------------------- */
#page-title {
  margin-top: 6rem;
  text-align: center; }

/* Sections
-------------------------------------------------- */
.docs-section {
  /* add space between page sections */
  margin-top: 4rem;
}

/* Navigation
------------------------------------------------- */
#primary_nav ul {
  display: block;
  margin-top: 4rem;
  margin-bottom: 4rem;
  list-style: none;
  background: #1c1c1c;

}

#primary_nav li a {
    display: block;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    letter-spacing: 0.1em;
    line-height: 3em;
    height: 3em;
    border-bottom: 1px solid #383838;
}

#primary_nav li {
  margin-bottom: 0rem;
}

#primary_nav li:last-child a {
    border-bottom: none;
}

#primary_nav li a:hover,
#primary_nav li a:focus {
    color: #1c1c1c;
    background: #ccc;
}

/* horizontal lists for navigation */
.list-inline {
    text-align: center;
    margin-bottom: .5rem;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.copyright {
    text-align: center;
}

/* Footer
------------------------------------------------- */
footer {
    font-style: italic;
    text-align: center;
    font-size: 14px;
}

.list-inline li {
  padding: 0px 10px;
}

.list-inline li a {
  color: #4e4e4e;

}

.list-inline li a:hover,
.list-inline li a:focus {
    color: #ccc;
}

/* Media Queries for Large Screens
------------------------------------------------- */
@media only screen and (min-width: 768px) {
      /* hide menu button when displaying on large screens */
      div.to_nav {
        display: none;
    }

     /* style page navigation at top of screen */
    .container {
        position: relative;
        width: 768px;
        margin: auto;
    }

    #primary_nav {
        position: absolute;
        top: 1px;
        right: 10px;
        background: none;
    }

    #primary_nav li {
        display: inline;
    }

    #primary_nav li a {
        display: inline;
        border: none;
        padding: 13px 10px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }

    /* add space between end of content and top of footer */
    footer {
      margin-top: 2.5rem;
    }
 }
