/* Table of contents
- Device Adaptation
- Header
- Title
- Sections
- Navigation
*/

/* Device Adaptation
-------------------------------------------------- */
@viewport{
    zoom: 1.0;
    width: device-width;
}

@viewport{
  zoom: 1.0;
  width: extend-to-zoom;
}

/* Header
based on https://webdesign.tutsplus.com/articles/a-simple-responsive-mobile-first-navigation--webdesign-6074
-------------------------------------------------- */
header {
        
    text-align: center;
    background: #1c1c1c;
    padding: 1rem 2rem;
    position:  relative;
    height: 6.5rem;
}

        /*shorter clearfix http://nicolasgallagher.com/micro-clearfix-hack/*/
        header:before,
        header:after {
            content:"";
            display:table;
        }

        header:after {
            clear:both;
        }

        /* For IE 6/7 (trigger hasLayout) */
        header {
            zoom:1;
        }

h1.logo a {
    color: #d8d8d8;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 22px;
    float: left;
    letter-spacing: 0.2em;
  }

div.to_nav {
    background: #4e4e4e;
    padding: 8px 12px 5px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    position:  absolute;
    right: 1.4rem;
    top: 1.4rem;
}

div.to_nav:hover,
div.to_nav:focus {
    color: #1c1c1c;
    background: #ccc;
}

div.to_nav > a {
  display:inline-block;
  width:100%;
  height:100%;
  color: #fff;
}

/* Title
-------------------------------------------------- */
.page-title {
  margin-top: 6rem;
  text-align: center; }

/* Sections
-------------------------------------------------- */
.docs-section {
  margin-top: 4rem;
}

/* Navigation
------------------------------------------------- */
#primary_nav ul {
  display: block;
    /*height: 18em;*/
    list-style: none;
    background: #1c1c1c;
    padding: 5px 0;
}

#primary_nav li a {
    display: block;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    letter-spacing: 0.1em;
    line-height: 2em;
    height: 4em;
    border-bottom: 1px solid #383838;
}

#primary_nav li:last-child a {
    border-bottom: none;
}

#primary_nav li a:hover,
#primary_nav li a:focus {
    color: #1c1c1c;
    background: #ccc;
}
